 
<div id="loading-mask"></div>
<div id="loading-clear-mask"></div>
<div id="loading">
    <span id="loading-message"></span>
</div>

<script type="text/javascript">
  var FORM_LINE_HEIGHT = 50;
  var TOOLBAR_BUTTON_HEIGHT = 30;
  var FORM_LINE_HEIGHT = 50;
  var FORM_LINE_SPACE = 10;
  var IS_ADMIN        = <%= @is_admin %>; 
  var LOGOUT_URL      = "<%= destroy_user_session_path %>";
  var USER_FIRST_NAME = "<%= @firstname %>";
  var USER_NAME       = "<%= @username %>";
  var USER_FIRSTNAME  = "<%= @firstname %>";
  var USER_LAST_NAME  = "<%= @lastname %>";
  var USER_LASTNAME   = "<%= @lastname %>";
  var ENVERONMENT     = "<%= Rails.env %>";
   
</script>

<script>  document.getElementById('loading-message').innerHTML = 'Loading Core API ..'; </script>
<% if Rails.env == 'production' %>
  <!-- <script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/5.1.0/build/ext-all.js"></script> -->
  <%= javascript_include_tag    "/ext-5.1.0/build/ext-all"  %>
<% else %>
  <%= javascript_include_tag    "/ext-5.1.0/build/ext-all-debug"  %>
  <!-- <script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/5.1.0/build/ext-all-debug.js"></script> --> 
<% end %>

<script> document.getElementById('loading-message').innerHTML = 'Loading Application ..'; </script>

<% if Rails.env == 'production' %>
  
  <%= stylesheet_link_tag     "application" %>
  <%= javascript_include_tag  "application", "data-turbolinks-track" => true %>
  
<% end %>
 

<script>
  document.getElementById('loading-message').innerHTML = 'Ready ..';
</script>

<%= javascript_include_tag  "home" %> 
 